<main>
    <div class="rel">
        <div class="msg-left">
            <div>bonjour</div>
            
        </div>
        <div class="msg-right">
            <div>bonsoir</div>
        </div>
        <div class="msg-right">
            <div>bonsoir</div>
        </div>
    </div>
    
    <form class="form-inline m-3">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Enter your message</label>
            <input type="text" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send message</button>
    </form>
</main>