<app-sidebar></app-sidebar>
<div class="content">
    <div class="content-body-sms row">
        <div class="sms-contact rounded-2 shadow  col-3">
            <button class="btn button mb-3" routerLink="/consultSms">Consult message</button>
            <form novalidate>
                <div class="row mb-2">
                    <div class="col-8">
                        <input type="text" class="form-control" name="" placeholder="Search">
                    </div>
                    <button class="btn btn-search col-2" type="submit"><span class="fa fa-solid fa-search me-1"> </span></button>
                </div>
            </form>
            <h3>Messages</h3>
            <mat-list>
                <div class="d-flex justify-content-center align-items-center" *ngFor="let c of contacts; let i = index ">
                    <div (click)="onConsult(i)">
                        <img class="rounded-circle" src="../../favicon.ico" alt="" style="height: 35px; width:35px">
                        <mat-list-item>
                            <span matListItemTitle>11h</span>
                            <span matListItemTitle>{{c.firstName}}</span>
                            <span matListItemTitle>message</span>
                        </mat-list-item>
                    </div>
                </div>         
            </mat-list>
        </div>
        <div class="sms-msg rounded shadow col-9 m-0 ps-1 pe-0">
            <mat-toolbar class="title-sms">
                <img class="rounded-circle me-2" src="../../favicon.ico" alt="" style="height: 35px; width:35px">
                <span>{{title}}</span>
            </mat-toolbar>
           
            <div class="row mb-2 justify-content-center send">
                <form [formGroup]="smsForm" (ngSubmit)="onSendSms()">
                    <div class="col-9">
                        <input type="text" class="text-send form-control" name="" placeholder="Your message" formControlName="sms">                
                    </div>
                    <button class="btn btn-send col-2" [disabled]="!smsForm.valid"><span class="fa fa-paper-plane me-1"> </span></button>    
                </form>
            </div>
        </div>
    </div>
</div>