
.sms-msg{
    height: 100%;
    background-color: white;
    overflow: auto;
}

.title-sms{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EDF1FA;
    color: #829BD4;
    font-size: 30px;
    border-radius: 10px;
}

.button, .btn-search,.btn-send{
    height: 45px;
    background-color: #829BD4;
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-search{
    height: 39px;
}

.btn-send{
    height: 60px;
    width: 60px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.send{
    position: fixed;
    bottom: 35px;
    width: 65%;
    right: 0px;
}

.text-send{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 50px;
}

.sms-contact{
    height: 100%;
    overflow: auto;
    padding-top: 10px;
}

.sms-contact h3{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #919191;
}

.content-body-sms{
    width: 95%;
    height: 90%;
    margin: 0;
    background-color: #EDF1FA;
}