<div class="content-register d-flex justify-content-center align-items-center mt-5">
    <div class="card text-start shadow">
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../../assets/avatar.svg" class="rounded-circle" style="width: 100px; height:100px">
        </div>
        <div class="card-body">
            <mat-toolbar class="title d-flex justify-content-center align-items-center mb-4">
                <span>Recover password</span>
            </mat-toolbar>
            <form novalidate class=" p-1" (ngSubmit)="recover()">
                <div class="form-floating mb-12">
                    <input type="tel" class="form-control" id="floatingTel" placeholder="65454545">
                    <label for="floatingTel">Phone number</label>
                </div>
                <div class="form-floating mb-12">
                    <input type="email" class="form-control" id="floatingPassword" placeholder="email">
                    <label for="floatingPassword">Email</label>
                </div>
                <div>
                    <button class="btn btn-sign-up  mb-2">Recover</button>
                </div>
            </form>
        </div>
    </div>
</div>