<!DOCTYPE html>
<html>

<head>
    <title>Animated Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">

        <div class="login-content">
            <form >
                <img src="../../../assets/images/avatar.svg">
                <h2 class="title">Recover</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <input type="text" placeholder="Phone number" class="input" formControlName="number">
                    </div>
                </div>
                <button type="submit" class="btn" (click)="recover()">Retreive</button>
            </form>
        </div>
    </div>
</body>

</html>