<html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Adding contact</title>
        <link rel="stylesheet" href="save-contact.component.css" />
    </head>

<body>
          <form>
            <h1>Saving contacts</h1>
                
            <div class="separation"></div>
            <div class="corps-formulaire">
              <div class="gauche">
                <div class="groupe">
                  <label>Name and surname</label>
                  <input type="text" autocomplete="off" />
                  <i class="fas fa-user"></i>
                </div>
                <div class="groupe">
                  <label>Email address</label>
                  <input type="text" autocomplete="off" />
                  <i class="fas fa-envelope"></i>
                </div>
                <div class="groupe">
                  <label>Phone number</label>
                  <input type="text" autocomplete="off" />
                  <i class="fas fa-mobile"></i>
                </div>
              </div>
      
            
            </div>
      
            <div class="pied-formulaire" >
              <button>Save</button>
              <button>Cancel</button>
            </div>
          </form>
        </body>
    </html>
      