.body{
    width: calc(100% - 5rem);
    height: 100vh;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem;
}

.body-trimmed{
    width: calc(100% - 17rem);
    margin-left: 17rem;
}

.body-md-screen{
    width: calc(100% - 5rem);
    margin-left: 5rem;
}