<div class="content-register d-flex justify-content-center align-items-center">
    <div class="card text-start shadow">
        <div class="d-flex justify-content-center align-items-center">
            <img src="../../../assets/avatar.svg" class="rounded-circle" style="width: 100px; height:100px">
        </div>
        <div class="card-body">
            <mat-toolbar class="title d-flex justify-content-center align-items-center mb-4">
                <span>Register</span>
            </mat-toolbar>
            <form novalidate class=" p-1" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <div class="  col-md-6 form-floating mb-3 ">
                        <input type="text" class="form-control" id="floatingInput" placeholder="first name">
                        <label for="floatingInput">First Name</label>
                    </div>
                    <div class=" col-md-6 form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="last name">
                        <label for="floatingInput">Last Name</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class=" col-md-6 form-floating mb-3">
                        <input type="tel" class=" form-control" id="floatingTel" placeholder="65454545">
                        <label for="floatingTel">Phone number</label>
                    </div>
                    <div class=" col-md-6 form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingText" placeholder="rue wilfrid">
                    <label for="floatingText">Adress</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div>
                    <button class="btn btn-sign-up  mb-2">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>