<html>
  <head>
    <meta charset="utf-8">  
    <title>Contact management</title>
    <link rel="stylesheet" href="consult-contact.component.css">
   
  </head>
  <body>

    <div class="content">
        <header>
            <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Contact management</span></p>
        
            <div class="search-wrapp">
                <span class="fa fa-search"></span>
                <input type="search" name="" placeholder="search contact">
            </div>
        
        </header>
    </div>

    <div class="corps">
        <div class="contact">
                <div class="header-case">
                    <h2>Contacts list</h2>
                    <button class="button">see more<span class="fa fa-arrow-right"></span></button>
                </div>
                <div class="body-case">
                    <div class="tableau">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Contacts</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ali</td>
                                    <td>677.77.77.27</td>
                                    <td><div class="pied-corps" >
                                        <button>Edit</button>
                                        <button>Delete</button></div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>Amadou</td>
                                    <td>677.77.77.30</td>
                                    <td><div class="pied-corps" >
                                        <button>Edit</button>
                                        <button>Delete</button></div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>Atcheck</td>
                                    <td>677.77.77.45</td>
                                    <td><div class="pied-corps" >
                                        <button>Edit</button>
                                        <button>Delete</button></div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>Belise</td>
                                    <td>677.77.77.59</td>
                                    <td><div class="pied-corps" >
                                        <button>Edit</button>
                                        <button>Delete</button></div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>Bertin</td>
                                    <td>677.77.77.69</td>
                                    <td><div class="pied-corps" >
                                        <button>Edit</button>
                                        <button>Delete</button></div>
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
    
        <div class="Statistiques">
            <div class="case">
                <div class="header-case">
                    <h2>Frequently contacted</h2>
                </div>
    
                <div class="body-case">
                    <div class="all-users">
                            <div>
                                <h4>Etienne</h4>
                                <small>677.77.77.75</small>
                            </div>
                    </div>

                    <div class="all-users">
                            <div>
                                <h4>Hairiya</h4>
                                <small>677.77.77.70</small>
                            </div>
                    </div>

                    <div class="all-users">
                            <div>
                                <h4>Yann</h4>
                                <small>677.77.77.79</small>
                            </div>  
                    </div>

                    <div class="all-users">
                            <div>
                                <h4>Marvin</h4>
                                <small>677.77.77.78</small>
                            </div>
                    </div>
                    
                    <div class="all-users">
                            <div>
                                <h4>Gildase</h4>
                                <small>677.77.77.77</small>
                            </div>
                    </div>
    
    
                </div>
                <button class="btn">see more <span class="fa fa-arrow-right"></span></button>
            </div>
    
        </div>
    </div>
  </body>
  </html>
