<app-sidebar></app-sidebar>
<div class="content">
    <div class="content-body d-flex flex-column justify-content-center">
        <mat-toolbar class="title mb-1">
            <span>List of contacts</span>
        </mat-toolbar>
        <input class="form-control mb-1 half-width" type="text" placeholder="Ex. Paul" (keyup)="applyFilter($event)">
        <table mat-table matSort matSortActive="created" matSortDisableClear matSortDirection="desc" 
        [dataSource]="contacts" class="mat-elevation-z8 mb-1">
            <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <ng-container matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="number">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Phone number</th>
                <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
            </ng-container>
    
            <ng-container matColumnDef="email">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element ; let i = index"> 
                    <button class="btn btn-primary me-1" (click)="editContact(element)"><span class="fa fa-solid fa-edit"> </span></button>
                    <button class="btn btn-danger" (click)="deleteContact(i)"><span class="fa fa-solid fa-trash"> </span></button>  
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
        <mat-paginator #paginator [pageSize]="5"></mat-paginator>
    </div>
</div>