.student{
    display: block;
    position: fixed;
    top: 6%;
    left: 20%;
    height: 92%;
    width: 80%;
}

.frame{
    display: flex;
    position: absolute;
    background-color: #fff;
    top:10%;
    left: 5%;
    border-top: solid;
    border-top-color: rgb(227, 224, 224);
    width: 90%;
    height: 90%;
}

.show-search{
    display: block;
    position: absolute;
    left: 2%;
    top: 15%;
    width: 95%;
    height: 10%;
}

.search{
    display: block;
    position: absolute;
    text-align: right;
    right: 0;
    top: -40%;
}

.table-div{
    display: block;
    position: absolute;
    top: 22%;
    left: 2%;
    width: 95%;
    height: 70%;
    min-height:60%;
    min-width:75%;
    overflow:auto;
    box-shadow: inset 1px 4px 10px rgba(0, 0, 0, 0.5);
}

.table{
    border-collapse: collapse;
    display: block;
    position: absolute;
    top: 5%;
    left: 2%;
    width: 95%;
}

th , td{
    padding-left: 8px;
    padding-right: 30px;
    border: 0.5px solid rgb(227, 224, 224);
}

.last-td{
    text-align: center;
}

.edit a{
    margin-left: 1px;
    margin-right: 5px;
    padding: 2px;
    text-align: left;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.delete a{
    margin-left: 1px;
    text-align: right;
    padding: 2px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.frame-foot{
    display: block;
    position: absolute;
    top: 86%;
    left: 2%;
    width: 95%;
    height: 10%;
}

.prev-next{
    display: block;
    position: absolute;
    text-align: right;
    top: 10%;
    right: 0%; 
    width: 20%; 
    background-color: aqua;  
}

.prev{
    position: absolute;
}

.next{
    position: absolute;
    top: 0%;
    right: 1%;
}

.num{
    display: block;
    position: absolute;
    width: 10%;
    background-color: blue;
    right: 40%;
    color: #fff;
    text-align: center;
}