<html>
  <head>
    <meta charset="utf-8">  
    <title> Import contact</title>
    <link rel="stylesheet" href="import-contact.component.css">
    <!--  Link For Icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  </head>
  <body>
    

    <form>
        <div class="wrapper">
            <div class="select-btn">
              <span>Select a contact</span>
              <i class="uil uil-angle-down"></i>
            </div>
        </div> 
        
        <div class="form-group">
            <input type="checkbox" id="1">
            <label for="1">
                <span class="checkbox">
                    <span class="check"></span>
                </span>
                Ali
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="2">
            <label for="2">
                <span class="checkbox">
                    <span class="check"></span>
                </span>
                Amadou
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="3">
            <label for="3">
                <span class="checkbox">
                    <span class="check"></span>
                </span>
                Atheck
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="4">
            <label for="4">
                <span class="checkbox">
                    <span class="check"></span>
                </span>
                Belise
            </label>
        </div>
        <div class="form-group">
            <input type="checkbox" id="5">
            <label for="5">
                <span class="checkbox">
                    <span class="check"></span>
                </span>
                Bertin
            </label>
        </div>
        <div class="pied-form" align="center">
            <button>Import</button>
        </div>
    </form>


        
</body>
</html>